@model BisLeagues.Presentation.Models.ViewModels.PastMatchesViewModel

@{
    ViewData["Title"] = "Geçmiş Maçlar";
    Layout = "~/Views/Shared/_Layout_Heading.cshtml";

    string homeTag = "";
    string awayTag = "";
    if (Model.LastMatchsResult != null)
    {
        if (Model.LastMatchsResult.HomeScore > Model.LastMatchsResult.AwayScore)
        {
            homeTag = "win-tag";
            awayTag = "loss-tag";
        }
        else if (Model.LastMatchsResult.AwayScore > Model.LastMatchsResult.HomeScore)
        {
            homeTag = "loss-tag";
            awayTag = "win-tag";
        }
    }
}
@if (Model.NoMatchFound != true)
{
    @section Heading{
        <!-- Page Heading & Breadcrumbs  -->
        <div class="page-heading-breadcrumbs hidden-xs">
            <div class="container">
                <h2>Geçmiş Maçlar</h2>
                <ul class="breadcrumbs">
                    <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                    <li>Geçmiş Maçlar</li>
                </ul>
            </div>
        </div>
        <!-- Page Heading & Breadcrumbs  -->
        <!-- Page Heading banner -->
        <div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/banner.jpeg", width = 1280, height = 250 }))">
            <div class="container">
                <div class="last-match-banner">
                    <div class="home-team">
                        <span>
                            <img class="team-logo"  src="@Url.Action("Resize", "Image", new { url = Model.LastMatchsResult.Match.Home.Logo.Path, width = 120, height = 120 })"  alt="">
                        </span>
                        <span class="@homeTag"></span>
                    </div>
                    <div class="score">
                        <div class="rectangle">
                            <strong class="vs-match-result">@Model.LastMatchsResult.HomeScore<span>Vs</span>@Model.LastMatchsResult.AwayScore</strong>
                            <span class="end-time"><i class="fa fa-clock-o"></i>@Model.LastMatchsResult.Match.MatchDate.ToLocalTime().ToString("dd MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</span>
                            <span class="end-time"><i class="fa fa-map-marker"></i>@Model.LastMatchsResult.Match.StadiumName</span>
                        </div>
                    </div>
                    <div class="away-team">
                        <span class="@awayTag"></span>
                        <span>
                            <img class="team-logo"  src="@Url.Action("Resize", "Image", new { url = Model.LastMatchsResult.Match.Away.Logo.Path, width = 120, height = 120 })"  alt="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Heading banner -->

    }
    <!-- Match -->
    <div class="theme-padding white-bg">
        <div class="container">
            <div class="row">
                <!-- match Contenet -->
                <div class="matches-shedule-holder">
                    <div class="col-lg-12 col-sm-12">
                        @{ Model.Pagination.ControllerName = "Match"; Model.Pagination.ActionName = "PastMatches"; }
                        <partial name="../Shared/_Partials/_Pagination" model="Model.Pagination" />
                        <!-- Matches Dates Shedule -->
                        <div class="matches-dates-shedule">
                            <ul>
                                @foreach (var item in Model.NewsOfPastMatches)
                                {
                                    <li>
                                        <div class="competition-logos">
                                        <a href="@Url.Action("Detail", "Team", new { item.Match.Home.Id })"><span class="pull-left"><img src="@Url.Action("Resize", "Image", new { url = item.Match.Home.Logo.Path, width = 105, height = 105 })" alt="@item.Match.Home.Name"></span></a>
                                        <a href="@Url.Action("Detail", "Team", new { item.Match.Away.Id })"><span class="pull-right"><img src="@Url.Action("Resize", "Image", new { url = item.Match.Away.Logo.Path, width = 105, height = 105 })" alt="@item.Match.Away.Name"></span></a>
                                        </div>
                                        <div class="detail">
                                            <a href="@Url.Action("Detail", "News", new { item.Id })"><i>Maçın Haberine Git</i></a>
                                            <strong>@item.Match.Home.Name<i class="red-color"> | @item.Match.Result.HomeScore - @item.Match.Result.AwayScore | </i> @item.Match.Away.Name</strong>
                                            <span class="location-marker"><i class="fa fa-map-marker"></i>@item.Match.StadiumName</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- Matches Dates Shedule -->

                        <partial name="../Shared/_Partials/_Pagination" model="Model.Pagination" />

                    </div>
                </div>
                <!-- match Contenet -->

            </div>
        </div>
    </div>
    <!-- Match -->
}
else
{
    <div style="margin:auto;width: 50%;margin-top:100px; margin-bottom:100px;">
        <h1>Ufukta hiç maç yok !</h1>
    </div>
}