@model IEnumerable<BisLeagues.Core.Models.Team>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Heading.cshtml";
}

<!-- Page Heading banner -->
    <div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/backgrounds-football-1.jpg", width = 1920, height = 900 }))"></div>
<!-- Page Heading banner -->
<!-- Team Width Sidebar -->
<div class="team-grid theme-padding white-bg">
    <div class="container">
        <h2>Top Palyer</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Team Column -->
                <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                    <div class="team-column">
                        <img src="~/Assets/images/team/img-01.jpg" alt="">
                        <div class="team-detail">
                            <h5>
                                <a href="#">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </h5>
                            <span class="desination">Avcılar</span>
                            <div class="detail-inner">
                                <ul>
                                    <li>Kuruluş Tarihi</li>
                                    <li>Şehir</li>
                                    <li>İlçe</li>
                                    <li>Sosyal Medya</li>
                                    <li>Sosyal Medya</li>

                                </ul>
                                <ul>
                                    <li>
                                        @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                                    </li>
                                    <li>
                                        @Html.DisplayFor(modelItem => item.City.Name)
                                    </li>
                                    <li>
                                        @Html.DisplayFor(modelItem => item.County.Name)
                                    </li>
                                    <li>Sosyal Medya</li>

                                    <li>
                                        <ul class="social-icons">
                                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team Column -->
            }
        </div>
    </div>
</div>
<!-- Team Width Sidebar -->
