@model BisLeagues.Presentation.Models.ViewModels.NewViewModel

@{
    ViewData["Title"] = Model.New.Caption;
    Layout = "~/Views/Shared/_Layout_Heading.cshtml";

    string homeTag = "";
    string awayTag = "";
    if (Model.Result != null)
    {
        if (Model.Result.HomeScore > Model.Result.AwayScore)
        {
            homeTag = "win-tag";
            awayTag = "loss-tag";
        }
        else if (Model.Result.AwayScore > Model.Result.HomeScore)
        {
            homeTag = "loss-tag";
            awayTag = "win-tag";
        }
    }
}

@section Heading{



    <!-- Page Heading & Breadcrumbs  -->
    <div class="page-heading-breadcrumbs hidden-xs">
        <div class="container">
            <h2>Maç Detay</h2>
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li>Maç Detay</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading & Breadcrumbs  -->
    <!-- Page Heading banner -->
    <div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/backgrounds-football-1.jpg", width = 1920, height = 900 }))">
        <div class="container theme-padding">
            @if (Model.New.Match != null)
            {
                <ul id="match-detail-slider" class="match-detail-slider">
                    <li>
                        <div class="pager-heading match-detail h-white">
                            <span class="pull-left @homeTag">
                                <img src="@Url.Action("Resize", "Image", new { url = Model.New.Match.Home.Logo.Path, width = 200, height = 200 })" alt="">
                            </span>
                            <div class="vs-match-heading position-center-center">
                                <strong class="vs-match-result">@Model.Result.HomeScore<span>Vs</span>@Model.Result.AwayScore</strong>
                                <span class="end-time"><i class="fa fa-clock-o"></i>@Model.New.Match.MatchDate.ToLocalTime().ToString("dd MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</span>
                            </div>
                            <span class="pull-right @awayTag ">
                                <img src="@Url.Action("Resize", "Image", new { url = Model.New.Match.Away.Logo.Path, width = 200, height = 200 })" alt="">
                            </span>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
    <!-- Page Heading banner -->
}

<!-- Match Detail -->
<div class="theme-padding white-bg">
    <div class="container">
        <div class="row">

            <!-- Match Detail Content -->
            <div class="col-lg-10 col-md-10 col-sm-7 col-xs-12">

                <!-- Detail -->
                <div class="match-detail-deep theme-padding-bottom">
                    <h2>@Model.New.Caption</h2>
                    <p>@Model.New.ShortDescription</p>
                    @if(Model.Result != null)
                    {
                    <div class="hidden-md hidden-lg">
                        <h4>@Model.Result.HomeScore - @Model.Result.AwayScore</h4>
                    </div>
                    }
                    <br />
                    @if (Model.New.CoverPhoto != null)
                    {
                        <div class="col-md-12">

                            <div class="video video-post center">
                                <img src="@Url.Action("Resize", "Image", new { url = Model.New.CoverPhoto.Path, width = 600, height = 350 })" alt="">
                            </div>
                        </div>
                    }
                    @if (Model.New.Match != null && Model.Result.Scores != null && Model.Result.Scores.Count() > 0)
                    {
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h5 style="color:red;">@Model.New.Match.Home.Name</h5>
                                    <ul>
                                        @foreach (var scorer in Model.Result.Scores.Where(x => x.ScoredTeamId == Model.New.Match.HomeId))
                                        {
                                            <li><a style="color:black;" href="@Url.Action("Detail", "Profile", new { scorer.Player.User.Id })">@scorer.Player.User.FirstName @scorer.Player.User.LastName - @scorer.Goals Gol</a></li>
                                        }
                                    </ul>
                                    <br />
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h5 style="color:red;">@Model.New.Match.Away.Name</h5>
                                    <ul>
                                        @foreach (var scorer in Model.Result.Scores.Where(x => x.ScoredTeamId == Model.New.Match.AwayId))
                                        {
                                            <li><a style="color:black;" href="@Url.Action("Detail", "Profile", new { scorer.Player.User.Id })">@scorer.Player.User.FirstName @scorer.Player.User.LastName - @scorer.Goals Gol</a></li>
                                        }
                                    </ul>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.Result != null && Model.Result.PlayerOfTheMatch != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <h5><span style="color:red;">Maçın Adamı :</span> @Model.Result.PlayerOfTheMatch.User.FirstName @Model.Result.PlayerOfTheMatch.User.LastName / @Model.Result.PlayerOfTheMatch.TeamPlayers.FirstOrDefault()?.Team.Name</h5>
                            </div>
                        </div>
                        <br /><br />
                    }
                    @if (Model.New.VideoCoverPhoto != null && !string.IsNullOrWhiteSpace(Model.New.VideoUrl))
                    {
                        <div class="col-md-12">

                            <div class="video video-post">
                                <img src="@Url.Action("Resize", "Image", new { url = Model.New.VideoCoverPhoto.Path, width = 600, height = 350 })" alt="">
                                <span class="play-lable fa fa-video-camera"></span>
                                <a class="position-center-center play-icon" href="@Model.New.VideoUrl" data-rel="prettyPhoto[video]"><i class="fa fa-video-camera"></i></a>
                            </div>
                        </div>
                    }
                    <article>
                        @Html.Raw(Model.New.Content)
                    </article>
                    <div class="row m-0">

                        @if (Model.New.Gallery != null)
                        {
                            <!-- Gallery Heading -->
                            <div class="col-sm-12 p-0">
                                <h2>Maçın Galerisi</h2>
                            </div>

                            <!-- Gallery Heading -->
                            @foreach (var galleryPhoto in Model.New.Gallery?.GalleryPhotos)
                            {
                                <!-- gallery Figure -->
                                <div class="col-sm-3 col-xs-6 r-full-width p-0">
                                    <figure class="gallery-figure">
                                        <img src="@Url.Action("Resize", "Image", new { url = galleryPhoto.Photo.Path, width = 292, height = 221 })" alt="">
                                        <figcaption class="overlay">
                                            <div class="position-center-center">
                                                <ul class="btn-list">
                                                    <li><a class="fa fa-link" href="@Url.Action("Resize", "Image", new { url = galleryPhoto.Photo.Path, width = 1903, height = 1903 })"></a></li>
                                                    <li><a href="@Url.Action("Resize", "Image", new { url = galleryPhoto.Photo.Path, width = 1903, height = 1903 })" data-rel="prettyPhoto[gallery]" rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery Figure -->
                            }

                        }
                    </div>
                </div>
                <!-- Detail -->
            </div>
            <!-- Match Detail Content -->
            <!-- Men of the match -->
            <!-- Men of the match -->

        </div>
    </div>
</div>
<!-- Match Detail -->