@model IEnumerable<BisLeagues.Core.Models.New>

@{
    ViewData["Title"] = "Haberler";
    Layout = "~/Views/Shared/_Layout_Heading.cshtml";
}

@if (Model.Count() > 0)
{
    @section Heading{
        <!-- Page Heading & Breadcrumbs  -->
        <div class="page-heading-breadcrumbs hidden-xs">
            <div class="container">
                <h2>Haberler</h2>
                <ul class="breadcrumbs">
                    <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                    <li>Haberler</li>
                </ul>
            </div>
        </div>
        <!-- Page Heading & Breadcrumbs  -->
        <!-- Page Heading banner -->
        <div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/backgrounds-football-1.jpg", width = 1920, height = 900 }))">
        </div>
        @*<div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/backgrounds-football-1.jpg", width = 1920, height = 900 }))">*@

        <!-- Page Heading banner -->

    }
    <div class="theme-padding white-bg">
        <div class="container">
            <div class="row">

                <!-- Blog Content -->
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 r-full-width">
                    @foreach (var item in Model)
                    {

                        <div class="large-post theme-padding-bottom">
                            <!-- Post Img -->
                            <div class="large-post-img">
                                @if (item.CoverPhoto != null)
                                {
                                    <img src="@Url.Action("Resize", "Image", new { url = item.CoverPhoto.Path, width = 871, height = 390 })" alt="">
                                }
                                @*<span class="blog-title-batch">Major League Socer</span>*@
                            </div>
                            <!-- Post Img -->
                            <!-- Detail -->
                            <div class="large-post-detail">
                                <h2><a href="@Url.Action("Detail", "News", new { item.Id })">@item.Caption</a></h2>
                                <p>@item.ShortDescription</p>
                                <a class="btn gary-btn" href="@Url.Action("Detail", "News", new { item.Id })"><i>+</i>Haberi Oku</a>
                            </div>
                            <!-- Detail -->
                        </div>
                        <hr />
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div style="margin:auto;width: 50%;margin-top:100px; margin-bottom:100px;">
        <h1>Ufukta haber yok !</h1>
    </div>
}


