@model BisLeagues.Presentation.Models.ViewModels.FixtureViewModel
<div class="col-sm-4 col-xs-5 r-full-width">
    <div class="next-matches">
        <h4>GELECEK MAÇLAR</h4>
        <div id="matches-detail-slider" class="matches-detail-slider">
            @foreach (var match in Model.MatchesPartOne)
            {
                <div class="item matches-detail" style="background: url(@Url.Action("Resize", "Image", new { url = "Assets/images/slider_layer.jpg", width = 360, height = 328 })">
                    <span class="left-date">@TimeZoneInfo.ConvertTimeFromUtc(match.MatchDate, TimeZoneInfo.Local).ToString("dd.MM.yyyy H:mm")</span>
                    <div class="team-btw-match">
                        <ul>
                            <li>
                                <img src="@Url.Action("Resize", "Image", new { url = match.Home.Logo.Path, width = 105, height = 105 })" alt="@match.Home.Name">
                                <a href="@Url.Action("Detail", "Team", new { match.Home.Id })"><span>@match.Home.Name</span></a>
                            </li>
                            <li>
                                <img src="@Url.Action("Resize", "Image", new { url = match.Away.Logo.Path, width = 105, height = 105 })" alt="@match.Away.Name">
                                <a href="@Url.Action("Detail", "Team", new { match.Away.Id })">
                                    <span>
                                        @match.Away.Name
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            @foreach (var match in Model.MatchesPartTwo)
            {
                <div class="item matches-detail" style="background: url(@Url.Action("Resize", "Image", new { url = "Assets/images/slider_layer.jpg", width = 360, height = 328 })">
                    <span class="left-date">@TimeZoneInfo.ConvertTimeFromUtc(match.MatchDate, TimeZoneInfo.Local).ToString("dd.MM.yyyy H:mm")</span>
                    <div class="team-btw-match">
                        <ul>
                            <li>
                                <img src="@Url.Action("Resize", "Image", new { url = match.Home.Logo.Path, width = 105, height = 105 })" alt="@match.Home.Name">
                                <a href="@Url.Action("Detail", "Team", new { match.Home.Id })"><span>@match.Home.Name</span></a>
                            </li>
                            <li>
                                <img src="@Url.Action("Resize", "Image", new { url = match.Away.Logo.Path, width = 105, height = 105 })" alt="@match.Away.Name">
                                <a href="@Url.Action("Detail", "Team", new { match.Away.Id })">
                                    <span>
                                        @match.Away.Name
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
