@inject BisLeagues.Core.Utility.IUserManager UserManager
    <!-- Nav -->
<div class="nav-holder">
    <div class="container">
        <div class="maga-drop-wrap">

            <!-- Logo -->
            <div class="logo hidden-sm hidden-xs">
                <a href="@Url.Action("Index", "Home")"><img src="~/Assets/images/logo-4.png" alt=""></a>
            </div>
            <!-- Logo -->
            <!-- Search Bar -->
            <div class="search-bar-holder pull-right">
                <div class="search-bar">
                    <form method="get" id="search" action="@Url.Action("Find", "Search")">
                        <input type="text" class="form-control" name="query" id="query" placeholder="takım, oyuncu falan ara..">
                        <i class="fa fa-search searchTop"></i>
                    </form>
                </div>
            </div>
            <!-- Search Bar -->
            <!-- Nav List -->
            <ul class="nav-list pull-right">
                @if (UserManager.GetCurrentUser(this.Context)?.Player?.TeamPlayers?.Count > 0)
                {
                    <li>
                        <a href="@Url.Action("Detail","Team")">Takımım</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Application","Team")">Takım Başvuru</a>
                    </li>
                }
                <li class="mega-dropdown">
                    <a href="@Url.Action("Index", "News")">Haberler</a>

                </li>
                <li>
                    <a href="@Url.Action("UpComingMatches", "Match")">Maçlar</a>
                    <ul>
                        <li><a href="@Url.Action("UpComingMatches", "Match")">Gelecek Maçlar</a></li>
                        <li><a href="@Url.Action("PastMatches", "Match")">Geçmiş Maçlar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "PointTable")">Puan Durumu</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "GoalKing")">Gol Krallığı</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Exchange")">Borsa</a>
                </li>
            </ul>
            <!-- Nav List -->

        </div>
    </div>
</div>
<!-- Nav -->