@model IEnumerable<BisLeagues.Core.Models.New>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  @{int i = 0; }
  @foreach(var item in Model)
  {
    <li data-target="#myCarousel" data-slide-to="@i" class="@(i==0 ? "active" : "")"></li>
    i++;
  }
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  @{i = 0; }
  @foreach(var item in Model)
  {
    <div class="item @(i==0 ? "active" : "")">
      <a href="@Url.Action("Detail", "News", new { item.Id })">
        <img style="max-height:800px;"  src="@Url.Action("Resize", "Image", new { url = item.CoverPhoto.Path, width = 1177, height = 800    })" alt="@item.Caption">
        <div class="carousel-caption d-none d-md-block">
          <h1>@item.Caption</h1>
        </div>
      </a>
    </div>
    i++;
  }
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <i class="fa fa-chevron-left" style="position: absolute; top: 45%;"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">    
    <i class="fa fa-chevron-right" style="position: absolute; top: 45%;"></i>
    <span class="sr-only">Next</span>
  </a>
</div>