@model BisLeagues.Presentation.Models.ViewModels.PointTableViewModel

@{
    ViewData["Title"] = "Puan Durumu";
    Layout = "~/Views/Shared/_Layout_Heading.cshtml";

    string homeTag = "";
    string awayTag = "";
    if (Model.LastMatchsResult != null)
    {
        if (Model.LastMatchsResult.HomeScore > Model.LastMatchsResult.AwayScore)
        {
            homeTag = "win-tag";
            awayTag = "loss-tag";
        }
        else if (Model.LastMatchsResult.AwayScore > Model.LastMatchsResult.HomeScore)
        {
            homeTag = "loss-tag";
            awayTag = "win-tag";
        }
    }
}
@if (!Model.NoMatchFound)
{
    @section Heading{


        <!-- Page Heading & Breadcrumbs  -->
        <div class="page-heading-breadcrumbs hidden-xs">
            <div class="container">
                <h2>Puan Durumu</h2>
                <ul class="breadcrumbs">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Anasayfa</a>
                    </li>
                    <li>Puan Durumu</li>
                </ul>
            </div>
        </div>
        <!-- Page Heading & Breadcrumbs  -->
        <!-- Page Heading banner -->
        <div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/banner.jpeg", width = 1280, height = 250 }))">
            <div class="container">
                <div class="last-match-banner">
                    <div class="home-team">
                        <span>
                            <img class="team-logo"  src="@Url.Action("Resize", "Image", new { url = Model.LastMatchsResult.Match.Home.Logo.Path, width = 120, height = 120 })"  alt="">
                        </span>
                        <span class="@homeTag"></span>
                    </div>
                    <div class="score">
                        <div class="rectangle">
                            <strong class="vs-match-result">@Model.LastMatchsResult.HomeScore<span>Vs</span>@Model.LastMatchsResult.AwayScore</strong>
                            <span class="end-time"><i class="fa fa-clock-o"></i>@Model.LastMatchsResult.Match.MatchDate.ToLocalTime().ToString("dd MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</span>
                            <span class="end-time"><i class="fa fa-map-marker"></i>@Model.LastMatchsResult.Match.StadiumName</span>
                        </div>
                    </div>
                    <div class="away-team">
                        <span class="@awayTag"></span>
                        <span>
                            <img class="team-logo"  src="@Url.Action("Resize", "Image", new { url = Model.LastMatchsResult.Match.Home.Logo.Path, width = 120, height = 120 })" alt="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Heading banner -->
    }
}

<div class="theme-padding white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <!-- Piont Table -->
                <div class="macth-fixture">
                    <h5>Puan Durumu</h5>
                    <div class="last-matches styel-3 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Takım</th>
                                <th>M.S.</th>
                                <th>Kaz.</th>
                                <th>Kay.</th>
                                <th>Ber.</th>
                                <th>Av.</th>
                                <th>P.</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{ int order = 1; }
                            @foreach (var row in Model.PointTableRows)
                            {
                                <tr>
                                    <td>@order</td>
                                    <td>
                                        <a href="@Url.Action("Detail", "Team", new {row.Team.Id})">
                                            @row.Team.Name
                                        </a>
                                    </td>
                                    <td>@row.MatchCount</td>
                                    <td>@row.WinCount</td>
                                    <td>@row.LoseCount</td>
                                    <td>@row.DrawCount</td>
                                    <td>@row.Average</td>
                                    <td>@row.Point</td>
                                </tr>
                                order++;
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Piont Table -->
            </div>
        </div>
    </div>
</div>