@model BisLeagues.Presentation.Models.ViewModels.HomeViewModel
@inject BisLeagues.Core.Utility.IUserManager UserManager
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout_Slider.cshtml";

}

@section Slider
{
    <partial name="_Partials/_Slider" model="Model.TopNews"/>

}

<div id="myCarouselFixture" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
      @{int i = 0; }
      @foreach(var item in Model.UpComingMatches)
      {
        <li data-target="#myCarouselFixture" data-slide-to="@i" class="@(i==0 ? "active" : "")"></li>
        i++;
      }
      </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @{ i = 0; }
        @foreach (var item in Model.UpComingMatches)
        {
            <div class="item @(i == 0 ? "active" : "")">

                <!-- Next Match -->
                <div class="next-match style-2">
                    <div class="container p-0">
                        <!-- Macth left Time -->
                        <div class="col-sm-6 bg-2">
                            <div class="left-match-time">
                                <h2>Gelecek Maç</h2>
                                <ul id="countdown-1" class="countdown">
                                    <li><span class="days">@item.Counter.Days</span>Gün</li>
                                    <li><span class="hours">@item.Counter.Hours</span>Saat </li>
                                    <li><span class="minutes">@item.Counter.Minutes</span>Dakika </li>
                                </ul>
                                <span>@(item.Match != null ? TimeZoneInfo.ConvertTimeFromUtc(item.Match.MatchDate, TimeZoneInfo.Local).ToString("dd.MM.yyyy H:mm") + Html.Raw(" | ") + item.Match.StadiumName : "Sırada maç yok !")</span>
                            </div>
                        </div>
                        <!-- Macth left Time -->
                        <!-- Vs Team -->
                        <div class="col-sm-6 bg-1">
                            <div class="vs-team">
                                <div class="team-btw-match">
                                    @if (item.Match != null)
                                    {
                                        <ul>
                                            <li>
                                                <img src="@Url.Action("Resize", "Image", new {url = item.Match.Home?.Logo?.Path, width = 105, height = 105})" alt="@item.Match.Home.Name">
                                                <span>
                                                    <a style="color:white;" href="@Url.Action("Detail", "Team", new {item.Match.Home.Id})">@item.Match.Home.Name</a>
                                                </span>
                                            </li>
                                            <li>
                                                <img src="@Url.Action("Resize", "Image", new {url = item.Match.Away?.Logo?.Path, width = 105, height = 105})" alt="@item.Match.Away.Name">
                                                <span>
                                                    <a style="color:white;" href="@Url.Action("Detail", "Team", new {item.Match.Away.Id})">@item.Match.Away.Name</a>
                                                </span>
                                            </li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- Vs Team -->

                    </div>
                </div>
                <!-- Next Match -->
            </div>
            i++;
        }
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarouselFixture" data-slide="prev">
        <i class="fa fa-chevron-left" style="position: absolute; top: 45%;"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarouselFixture" data-slide="next">
        <i class="fa fa-chevron-right" style="position: absolute; top: 45%;"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Match Detail -->
<section class="theme-padding-bottom bg-fixed">
    <div class="container">
        <br/>
        <br/>
        <br/>
        <!-- Match Detail Content -->
        <div class="match-detail-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="row" style="margin-top: 20px;">
                        <!-- Point Table -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            @await Component.InvokeAsync("PointTable", new {numberOfItems = 10})
                        </div>
                        <!-- Point Table -->
                        <!-- Goal King-->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h3>
                                <span>GOL KRALLIĞI</span>
                            </h3>
                            <div class="last-matches styel-3">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>AD</th>
                                        <th>TAKIM</th>
                                        <th>DEĞER</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @{ int order = 1; }
                                    @foreach (var row in Model.GoalKingPlayers)
                                    {
                                        <tr>
                                            <td>@order</td>
                                            <td>
                                                <a href="@Url.Action("Detail", "Profile", new {row.Player.User.Id})">
                                                    @row.Player.User.FirstName
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Detail", "Team", new {row.Player.TeamPlayers.FirstOrDefault().Team.Id})">
                                                    @row.Player.TeamPlayers.FirstOrDefault().Team.Name
                                                </a>
                                            </td>
                                            <td>@row.Goals</td>
                                        </tr>
                                        order++;
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Goal King-->
                        <!-- Exchange-->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h3>
                                <span>BORSA DURUMU</span>
                            </h3>
                            <div class="last-matches styel-3">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>AD</th>
                                        <th>TAKIM</th>
                                        <th>DEĞER</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @{ int orderForExchange = 1; }
                                    @foreach (var row in Model.ExchangeTopPlayers)
                                    {
                                        <tr>
                                            <td>@orderForExchange</td>
                                            <td>
                                                <a href="@Url.Action("Detail", "Profile", new {row.Player.User.Id})">
                                                    @row.Player.User.FirstName
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Detail", "Team", new {@row.Player.TeamPlayers.FirstOrDefault().Team.Id})">
                                                    @row.Player.TeamPlayers.FirstOrDefault().Team.Name
                                                </a>
                                            </td>
                                            <td>@row.Value $</td>
                                        </tr>
                                        orderForExchange++;
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Exchange-->
                    </div>

                </div>
            </div>
            <div class="row">
                <!-- Latest News -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="latest-news-holder">
                        <h3>
                            <span>HABERLER</span>
                        </h3>

                        <!-- latest-news Slider -->
                        <div class="row no-gutters white-bg">

                            <!-- Slider -->
                            <div class="col-sm-9">
                                <ul id="latest-news-slider" class="latest-news-slider" style="max-height: 615px; min-height: 346px;">
                                    @foreach (var newItem in Model.TopNews)
                                    {
                                        <li>
                                            <a href="@Url.Action("Detail", "News", new {id = newItem.Id})">
                                                @if (newItem.CoverPhoto != null)
                                                {
                                                    <img src="@Url.Action("Resize", "Image", new {url = newItem.CoverPhoto.Path, width = 855, height = 360})" alt="@newItem.Caption">
                                                }
                                                else
                                                {
                                                    <img src="#" alt="@newItem.Caption">
                                                }


                                                <p style="color:black; height: 85px;">
                                                    @newItem.ShortDescription <span style="color:red;">Devamını Oku</span>
                                                </p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- Slider -->
                            <!-- Thumnail -->
                            <div class="col-sm-3">
                                <ul id="latest-news-thumb" class="latest-news-thumb">
                                    @foreach (var newItem in Model.TopNews)
                                    {
                                        <li>
                                            <p>@newItem.Caption</p>
                                            <span>@newItem.CreatedOnUtc.ToLocalTime().ToString("dd MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</span>
                                        </li>
                                    }
                                </ul>
                                <ul class="news-thumb-arrows">
                                    <li class="prev">
                                        <span class="fa fa-angle-up"></span>
                                    </li>
                                    <li class="next">
                                        <span class="fa fa-angle-down"></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Thumnail -->

                        </div>
                        <!-- latest-news Slider -->
                    </div>
                </div>
                <!-- Latest News -->
            </div>
        </div>
    </div>
    <!-- Match Detail Content -->
</section>
<!-- Match Detail -->
<!-- Player Features And History -->
@section Scripts
{
    <script>
    $(".carousel").on("touchstart", function(event){
            var xClick = event.originalEvent.touches[0].pageX;
        $(this).one("touchmove", function(event){
            var xMove = event.originalEvent.touches[0].pageX;
            if( Math.floor(xClick - xMove) > 5 ){
                $(this).carousel('next');
            }
            else if( Math.floor(xClick - xMove) < -5 ){
                $(this).carousel('prev');
            }
        });
        $(".carousel").on("touchend", function(){
                $(this).off("touchmove");
        });
    });
    </script>
}
