@model BisLeagues.Presentation.Models.ViewModels.UserDetailViewModel
@using BisLeagues.Core.Enums
@inject BisLeagues.Core.Utility.IUserManager UserManager

@{
    ViewData["Title"] = Model.User.FirstName + " " + Model.User.LastName;
    Layout = "~/Views/Shared/_Layout_Heading.cshtml";
}
@section Heading{



    <!-- Page Heading & Breadcrumbs  -->
    <div class="page-heading-breadcrumbs hidden-xs">
        <div class="container">
            <h2>Kullanıcı Detay</h2>
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li>Kullanıcı Detay</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading & Breadcrumbs  -->
    <!-- Page Heading banner -->
    <div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/backgrounds-football-1.jpg", width = 1920, height = 900 }))">    </div>
    @*<div class="inner-banner style-2 overlay-dark theme-padding parallax-window" style="background-image: url(@Url.Action("Resize", "Image", new { url = "Assets/images/backgrounds-football-1.jpg", width = 1920, height = 900 }))">*@

    <!-- Page Heading banner -->

}

<!-- Team Detail -->
<div class="team-detail-holder theme-padding white-bg">
    <div class="container">

        <!-- Row Holder -->
        <div class="row">

            <!-- Team without Hover -->
            <div class="col-lg-3 col-md-3 col-sm-5">
                <div class="team-column without-hover">
                    <img src="@Url.Action("Resize", "Image", new { url = "Assets/images/slider_layer.jpg", width = 269, height = 269 })" alt="">
                    <div class="team-detail" style="position:initial !important;">
                        <h5>@Model.User.FirstName @Model.User.LastName</h5>
                        <span class="desination"></span>
                        <div class="detail-inner">
                            <ul>
                                <li>Ad</li>
                                <li>Soyad</li>
                                <li>Email</li>
                                <li>Gol Sayısı</li>
                                <li>Takım</li>
                            </ul>
                            <ul>
                                <li>
                                    @Html.DisplayFor(modelItem => Model.User.FirstName)
                                </li>
                                <li>
                                    @Html.DisplayFor(modelItem => Model.User.LastName)
                                </li>
                                <li>
                                    @Html.DisplayFor(modelItem => Model.User.Email)
                                </li>
                                <li>
                                    @Html.DisplayFor(modelItem => Model.TotalGoalCount)
                                </li>
                                <li>
                                    @(Model.User.Player.TeamPlayers.FirstOrDefault() != null ? Model.User.Player.TeamPlayers.First().Team.Name : "Yok")
                                </li>

                                <li>
                                    <ul class="social-icons">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team without Hover -->
            <div style="width: 100%; margin: 0 10% 50px 10%;">
                <a href="#detail" data-toggle="tab" class="btn btn-primary tab-button">Takım Detay</a>
                @if (UserManager.GetCurrentUser(this.Context)?.Player == Model.User.Player)
                {
                    <a href="#requests" data-toggle="tab" class="btn btn-primary tab-button">Gelen İstekler</a>
                    <a href="#requesteds" data-toggle="tab" class="btn btn-primary tab-button">Giden İstekler</a>
                    <a href="#editprofile" data-toggle="tab" class="btn btn-primary tab-button">Profil Değiştir</a>
                }

                @if (User.Identity.IsAuthenticated && UserManager.GetCurrentUser(this.Context)?.Player != Model.User.Player)
                {

                    {
                        <a href="@Url.Action("CreateRequest", "Transfer", new { teamId = UserManager.GetCurrentUser(this.Context)?.Player.TeamPlayers.FirstOrDefault()?.TeamId, playerId = UserManager.GetCurrentUser(this.Context)?.Player.Id, type = (int) TransferTypes.PlayerToTeam })" class="btn btn-success tab-button">Transfer Et</a>
                    }
                }

            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- default tab -->
                <div role="tabpanel" class="tab-pane in fade active" id="detail">
                    <!-- Detail -->
                    <div class="col-lg-9 col-md-9 col-sm-7">

                        <!-- Team Detail Content -->
                        <div class="team-detail-content theme-padding-bottom">
                            <h2>@Model.User.FirstName'ın Takımı Hakkında  @Html.Raw(Model.User.Player.TeamPlayers.FirstOrDefault() != null ? "(" + Model.User.Player.TeamPlayers.First().Team.Name + ")" : "")</h2>
                            @Html.Raw(Model.User.Player.TeamPlayers.FirstOrDefault() != null ? Model.User.Player.TeamPlayers.First().Team.Description : "Takımı Yok")
                        </div>
                        <!-- Team Detail Content -->

                    </div>
                    <!-- Detail -->
                </div>
                <div role="tabpanel" class="tab-pane fade" id="requests">
                    <!-- Detail -->
                    <div class="col-lg-9 col-md-9 col-sm-7">
                        @if (UserManager.GetCurrentUser(this.Context)?.Player == Model.User.Player)
                        {
                            <!-- Palyer Career -->
                            <div class="palyer-career theme-padding-bottom">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Takım</th>
                                            <th>Statu</th>
                                            <th>Kabul et / Reddet</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var request in Model.IncomingTransferRequests)
                                        {
                                            <tr>
                                                <td>@request.Team.Name</td>
                                                <td>
                                                    @{ switch ((TransferStatus)request.Status)
                                                        {
                                                            case TransferStatus.Pending: <text>Bekliyor.</text>; break;
                                                        case TransferStatus.Confirmed: <text>Onaylandı.</text>; break;
                                                    case TransferStatus.Rejected: <text>Reddedildi.</text>; break;
                                                case TransferStatus.Cancelled: <text>İptal Edildi.</text>; break;
                                            default: <text>Tanımlanamadı.</text>; break;

                                    }
                                                    }
                                                </td>

                                                <td>
                                                    @if ((TransferStatus)request.Status == TransferStatus.Pending)
                                                    {

                                                        <text>
                                                            <a href="@Url.Action("HandleRequest", "Transfer", new { requestId = request.Id, status = (int) TransferStatus.Confirmed, redirectTo = "Profile" })" class="btn btn-success"> Kabul Et </a>
                                                            <a href="@Url.Action("HandleRequest", "Transfer", new { requestId = request.Id, status = (int) TransferStatus.Rejected, redirectTo = "Profile" })" class="btn btn-danger"> Reddet </a>
                                                        </text>
                                                    }
                                                    else
                                                    {
                                                        <text>İşlem Yapılamaz.</text>

                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- Palyer Career -->
                        }

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="requesteds">
                    <!-- Detail -->
                    <div class="col-lg-9 col-md-9 col-sm-7">
                        @if (UserManager.GetCurrentUser(this.Context)?.Player == Model.User.Player)
                        {
                            <!-- Palyer Career -->
                            <div class="palyer-career theme-padding-bottom">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Takım</th>
                                            <th>Statu</th>
                                            <th>Kabul et / Reddet</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var request in Model.OutgoingTransferRequests)
                                        {
                                            <tr>
                                                <td>@request.Team.Name</td>
                                                <td>
                                                    @{ switch ((TransferStatus)request.Status)
                                                        {
                                                            case TransferStatus.Pending: <text>Bekliyor.</text>; break;
                                                        case TransferStatus.Confirmed: <text>Onaylandı.</text>; break;
                                                    case TransferStatus.Rejected: <text>Reddedildi.</text>; break;
                                                case TransferStatus.Cancelled: <text>İptal Edildi.</text>; break;
                                            default: <text>Tanımlanamadı.</text>; break;

                                    }
                                                    }
                                                </td>

                                                <td>
                                                    @if ((TransferStatus)request.Status == TransferStatus.Pending)
                                                    {


                                                        <text>
                                                            <a href="@Url.Action("HandleRequest", "Transfer", new { requestId = request.Id, status = (int) TransferStatus.Cancelled, redirectTo = "Profile" })" class="btn btn-danger"> Tekliften Vazgeç </a>
                                                        </text>
                                                    }
                                                    else
                                                    {
                                                        <text>İşlem Yapılamaz.</text>

                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- Palyer Career -->
                        }

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="editprofile">
                    <!-- Detail -->
                    <div class="col-lg-9 col-md-9 col-sm-7">
                        @if (UserManager.GetCurrentUser(this.Context)?.Player == Model.User.Player)
                        {
                            <!-- Palyer Career -->
                            <div class="palyer-career theme-padding-bottom about-aurthor">
                                @*<form action="@Url.Action("EditDescription", "Team")" method="post">
                                        <input type="hidden" name="teamId" value="@Model.Team.Id" />
                                        <textarea name="description" style="height: 500px; width: 100%">
                                        @Model.Team.Description
                                     </textarea><br />
                                        <input type="submit" class="btn btn-success form-control" />
                                    </form>*@
                            </div>
                            <!-- Palyer Career -->
                        }

                    </div>
                </div>

            </div>
            <!-- Row Holder  -->


        </div>
        <!-- Row Holder  -->

    </div>
</div>
<!-- Team Detail -->