@model BisLeagues.Presentation.Areas.Admin.Models.ViewModels.EditMatchViewModel
@inject IJsonHelper Json;
@{
    ViewData["Title"] = "Maç Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Maç Oluştur</h4>
                        <p class="card-category">Maç bilgilerini giriniz.</p>
                    </div>
                    <div class="card-body">
                        <form action="@Url.Action("Edit", "Match")" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="matchId" value="@Model.Match.Id" />
                            <div class="col-md-12 row"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Sezon:</label><br />
                                        <select class="form-control" name="seasonId" id="seasonId" data-style="btn btn-link" required>
                                            <option value="0" disabled selected>Season</option>
                                            @foreach (var season in Model.Seasons)
                                            {
                                                <option value="@season.Id" @(season.Id == Model.Match.SeasonId ? "selected" : "")>@season.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <select class="form-control" name="homeId" id="homeId" data-style="btn btn-link">
                                            <option value="0" disabled selected>Ev sahibi takımı seçiniz.</option>
                                            @foreach (var team in Model.Teams)
                                            {
                                                <option value="@team.Id" @(Model.Match.HomeId == team.Id ? "selected" : "")>@team.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <select class="form-control" name="awayId" id="awayId" data-style="btn btn-link">
                                            <option value="0" disabled selected>Deplasman takımı seçiniz.</option>
                                            @foreach (var team in Model.Teams)
                                            {
                                                <option value="@team.Id" @(Model.Match.AwayId == team.Id ? "selected" : "")>@team.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <label class="bmd-label-floating">Maç Tarihi - <span style="color:red">@TimeZoneInfo.ConvertTimeFromUtc(Model.Match.MatchDate, TimeZoneInfo.Local).ToString("dddd, dd MMMM yyyy hh:mm")</span> <span style="color:brown"> -  Maç tarhini düzenlemeyecekseniz boş geçiniz !</span></label>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="date" name="matchDate" id="matchDate" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="text" name="matchHour" id="matchHour" class="form-control" value="@TimeZoneInfo.ConvertTimeFromUtc(Model.Match.MatchDate, TimeZoneInfo.Local).ToString("hh:mm")" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" name="playerOfTheMatchId" id="playerOfTheMatchId" data-style="btn btn-link">
                                            <option value="0" disabled selected>Maçın Adamı</option>
                                            @foreach (var player in Model.PlayerList)
                                            {
                                                <option value="@player.Id" @(Model.Match.Result?.PlayerOfTheMatchId == player.Id ? "selected" : "")>@player.User.FirstName @player.User.LastName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Stad Adı</label>
                                        <input name="StadiumName" id="StadiumName" value="@Model.Match.StadiumName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ev Sahibi Takım Golü</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Deplasman Takım Golü</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <div class="home-scorers">
                                            <a class="btn btn-success" style="color:white; margin-left: 15px;" id="AddHomeScorer">Yeni Golcü Ekle</a><br />
                                            <input type="hidden" id="totalHomeScorers" value="@{ if (Model.Match.Result != null && Model.Match.Result.Scores != null)
                                                {
                                                    @Model.Match.Result?.Scores?.Where(x => x.ScoredTeamId == Model.Match.HomeId).Sum(x => x.Goals);
                                                }
                                                else
                                                {
                                                    <text>0</text>;
                                                } }" />
                                            @{ int counter = 0; }
                                            @if (Model.Match.Result?.Scores != null)
                                            {
                                                @foreach (var score in Model.Match.Result?.Scores?.Where(x => x.ScoredTeamId == Model.Match.HomeId))
                                                {
                                                    @for (int i = 0; i < score.Goals; i++)
                                                    {
                                                        <select class="form-control homeScorersIds_@counter" name="homeScorersIds[@counter].Id" id="homeScorersIds[@counter].Id" data-style="btn btn-link">
                                                            <option value="0" disabled selected>Gol Atan Oyuncu</option>
                                                            @foreach (var player in Model.Match.Home.TeamPlayers.Select(x => x.Player))
                                                            {
                                                                <option value="@player.Id" @(score.PlayerId == player.Id ? "selected" : "")>@player.User.FirstName @player.User.LastName</option>
                                                            }
                                                        </select>
                                                        counter++;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <div class="away-scorers">
                                            <a class="btn btn-success" style="color:white; margin-left: 15px;" id="AddAwayScorer">Yeni Golcü Ekle</a><br />
                                            <input type="hidden" id="totalAwayScorers" value="@{ if (Model.Match.Result != null && Model.Match.Result.Scores != null)
                                                {
                                                    @Model.Match.Result?.Scores?.Where(x => x.ScoredTeamId == Model.Match.AwayId).Sum(x => x.Goals);
                                                }
                                                else
                                                {
                                                    <text>0</text>;
                                                } }" />
                                            @{ counter = 0; }
                                            @if (Model.Match.Result != null && Model.Match.Result.Scores != null)
                                            {
                                                @foreach (var score in Model.Match.Result.Scores.Where(x => x.ScoredTeamId == Model.Match.AwayId))
                                                {
                                                    @for (int i = 0; i < score.Goals; i++)
                                                    {
                                                        <select class="form-control awayScorersIds_@counter" name="awayScorersIds[@counter].Id" id="awayScorersIds[@counter].Id" data-style="btn btn-link">
                                                            <option value="0" disabled selected>Gol Atan Oyuncu</option>
                                                            @foreach (var player in Model.Match.Away.TeamPlayers.Select(x => x.Player))
                                                            {
                                                                <option value="@player.Id" @(score.PlayerId == player.Id ? "selected" : "")>@player.User.FirstName @player.User.LastName</option>
                                                            }
                                                        </select>
                                                        counter++;
                                                    }
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ev Sahibi Takım Puanı (- Değer Girilebilir) </label>
                                        <input type="number" name="homePoint" id="homePoint" class="form-control" placeholder="" value="@Model.Point?.HomePoint" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Deplasman Takım Puanı (- Değer Girilebilir) </label>
                                        <input type="number" name="awayPoint" id="awayPoint" class="form-control" placeholder="" value="@Model.Point?.AwayPoint" required />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file-news">
                                                    Haber Fotoğraf <input type="file" id="newsPicture" name="newsPicture">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id="img-upload-news" style="margin: auto; display:block; max-width:100%;max-height:100%;" src="@Url.Action("Resize", "Image", new { url = Model.Match.New?.CoverPhoto.Path, width = 300, height = 300 })" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br />
                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Youtube Video URL</label>
                                        <input type="text" name="videoUrl" id="videoUrl" class="form-control" placeholder="" value="@Model.Match.New?.VideoUrl" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Haber Başlığı</label>
                                        <input type="text" name="caption" id="caption" class="form-control" placeholder="" value="@Model.Match.New?.Caption" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Haber Kısa Açıklama</label>
                                        <input type="text" name="shortDescription" id="shortDescription" class="form-control" placeholder="" value="@Model.Match.New?.ShortDescription" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating"> Haber içeriği</label>
                                        <textarea class="form-control" name="content" id="content" rows="15">@Model.Match.New?.Content</textarea>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />
                            <br />
                            <div class="row">
                                <div class="col-md-12">

                                    <a class="btn btn-success" style="color:white; margin-left: 15px;" id="addGalleryPhoto">Galeri Fotoğrafı Ekle</a> - @(Model.Match.New?.Gallery?.GalleryPhotos.Count() == null ? 0 : Model.Match.New?.Gallery?.GalleryPhotos.Count()) Fotoğraf Kayıtlı<br />
                                    <input type="hidden" id="totalGalleryPhoto" value="@(Model.Match.New?.Gallery?.GalleryPhotos.Count() == null ? 0 : Model.Match.New?.Gallery?.GalleryPhotos.Count())" />
                                    <div id="galleries">
                                        @if (Model.Match.New != null && Model.Match.New.Gallery != null && Model.Match.New.Gallery.GalleryPhotos.Count() > 0)
                                        {
                                            int photoCounter = 0;
                                            @foreach (var galleryPhoto in Model.Match.New?.Gallery?.GalleryPhotos)
                                            {
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-default btnGalleryPhotos_@photoCounter">
                                                                Fotoğraf <input type="file" name="GalleryPhotos[@photoCounter]" id="GalleryPhotos[@photoCounter]" class="galleryPhotos_@photoCounter">
                                                            </span>
                                                        </span>
                                                        <input type="text" class="form-control" readonly>
                                                    </div>
                                                    <img class="imgGalleryPhotos_@photoCounter" style="max-width:100%;max-height:100%;" src="@Url.Action("Resize", "Image", new { url = galleryPhoto.Photo.Path, width = 300, height = 300 })" />
                                                </div>
                                                photoCounter++;
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Gönder Gitsin</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="galleryScripts">

</div>
@section Scripts {
    <script>

        function onChange(input0) {
            var input = input0;
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        }

        function onFileSelect(input0) {
            var input = input0.parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }
        }
        function readURL(input, target0) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    target0.attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(document).on('change', '.btn-file-video :file', function () {
            onChange($('.btn-file-video :file'));
        });
        $(document).on('change', '.btn-file-news :file', function () {
            onChange($('.btn-file-news :file'));
        });

        $('.btn-file-video :file').on('fileselect', function (event, label) {
            onFileSelect($('.btn-file-video :file'));
        });
        $('.btn-file-news :file').on('fileselect', function (event, label) {
            onFileSelect($('.btn-file-news :file'));
        });
        $("#videoPicture").change(function () {
            readURL(this, $('#img-upload-video'));
        });
        $("#newsPicture").change(function () {
            readURL(this, $('#img-upload-news'));
        });

        @if(Model.Match.New != null && Model.Match.New.Gallery != null && Model.Match.New.Gallery.GalleryPhotos.Count() > 0) {

        int scriptPhotoCounter = 0;
        @foreach (var item in Model.Match.New.Gallery.GalleryPhotos)
        {
            <text>
                $(document).on("change", ".btnGalleryPhotos_@scriptPhotoCounter :file", function () {
                    onChange($(".btnGalleryPhotos_@scriptPhotoCounter :file"));
                });
                $(".btnGalleryPhotos_@scriptPhotoCounter :file").on("fileselect", function (event, label) {
                    onFileSelect($(".btnGalleryPhotos_@scriptPhotoCounter :file"));
                });
                $(".btnGalleryPhotos_@scriptPhotoCounter :file").on("fileselect", function (event, label) {
                    readURL(this, $(".imgGalleryPhotos_@scriptPhotoCounter"));
                });
            </text>
            scriptPhotoCounter++;
         }
        }


    </script>
    <script>
        $(document).ready(function () {

            var homePlayers = JSON.parse('@Html.Raw(Json.Serialize(@Model.Match.Home.TeamPlayers.Select(x=> new { x.PlayerId , x.Player.User.FirstName, x.Player.User.LastName})))');
            $("#AddHomeScorer").click(function () {
                tc = parseInt($("#totalHomeScorers").val());
                $("div.home-scorers").append('<select class="form-control homeScorersIds_' + tc  + '" name="homeScorersIds[' + tc + '].Id" id="homeScorersIds[' + tc + '].Id" data-style="btn btn-link"><option value="0" disabled selected>Gol Atan Oyuncu</option></select>');
                homePlayers.forEach(function (element) {
                    var o = new Option(element["firstName"] + " " + element["lastName"], element["playerId"]);
                        $(".homeScorersIds_" + tc + "").append(o);
                });
                tc = tc + 1;
                $("#totalHomeScorers").val(tc);
            });

             var awayPlayers = JSON.parse('@Html.Raw(Json.Serialize(@Model.Match.Away.TeamPlayers.Select(x=> new { x.PlayerId , x.Player.User.FirstName, x.Player.User.LastName})))');
            $("#AddAwayScorer").click(function () {
                tc = parseInt($("#totalAwayScorers").val());
                $("div.away-scorers").append('<select class="form-control awayScorersIds_' + tc + '" name="awayScorersIds[' + tc + '].Id" id="awayScorersIds[' + tc + '].Id" data-style="btn btn-link"><option value="0" disabled selected>Gol Atan Oyuncu</option></select>');
                awayPlayers.forEach(function (element) {
                    var o = new Option(element["firstName"] + " " + element["lastName"], element["playerId"]);
                        $(".awayScorersIds_" + tc + "").append(o);
                });
                tc = tc + 1;
                $("#totalAwayScorers").val(tc);
            });


            $("#addGalleryPhoto").click(function () {
                tc = parseInt($("#totalGalleryPhoto").val());
                $("div#galleries").append('<div class="form-group"><div class="input-group"><span class="input-group-btn"><span class="btn btn-default btnGalleryPhotos_' + tc + '">Fotoğraf <input type="file" name="GalleryPhotos[' + tc + ']" id="GalleryPhotos[' + tc + ']" class="galleryPhotos_' + tc + '"></span></span><input type="text" class="form-control" readonly></div><img class="imgGalleryPhotos_' + tc + '" style="max-width:100%;max-height:100%;"/></div>');
                var script = document.createElement("script");
                script.innerHTML = '$(document).on("change", ".btnGalleryPhotos_' + tc + ' :file", function () { onChange($(".btnGalleryPhotos_' + tc + ' :file")); });';
                script.innerHTML += '$(".btnGalleryPhotos_' + tc + ' :file").on("fileselect", function (event, label) {onFileSelect($(".btnGalleryPhotos_' + tc + ' :file"));});';
                script.innerHTML += '$(".btnGalleryPhotos_' + tc + ' :file").on("fileselect", function (event, label) {readURL(this, $(".imgGalleryPhotos_' + tc + '"));});';
                $("div.galleryScripts").append(script);
                tc = tc + 1;
                $("#totalGalleryPhoto").val(tc);
            });


        });
    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <script>

        ClassicEditor
            .create(document.querySelector('#content'), {
                removePlugins: ['ImageUpload'],
            })
            .catch(error => {
                console.error(error);
            });
    </script>


}